@model  BootcampTool.Models.Register

@{
    ViewBag.Title = "Register";
}

@section scripts{

    <script type="text/javascript">

        function ClearForm() {

            $('#Firstname').val('');
            $('#LastName').val('');
            $('#Email').val('');
            $('#Username').val('');
            $('#Password').val('');
        }

    </script>

}

@if (@Model.Message.State == "success")
{
    <div class="alert alert-success">@Model.Message.Description</div>
}


@if (@Model.Message.State == "error")
{
    <div class="alert alert-danger">@Model.Message.Description</div>
}



<h2>Register</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="2" align="center">User Details</th>
        </tr>
        <tr>
            <td>First Name: </td>
            <td>
                @Html.TextBoxFor(m => m.User.Firstname)
                @Html.ValidationMessageFor(m => m.User.Firstname)
            </td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td>
                @Html.TextBoxFor(m => m.User.LastName)
                @Html.ValidationMessageFor(m => m.User.LastName)
            </td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>
                @Html.TextBoxFor(m => m.User.Email)
                @Html.ValidationMessageFor(m => m.User.Email)
            </td>
        </tr>
        <tr>
            <td>LMS Course: </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedLMSCourseId, Model.LMSCourses)
                @Html.ValidationMessageFor(m => m.SelectedLMSCourseId)
            </td>
        </tr>
        <tr>
            <td>LMS Group: </td>
            <td>
                @Html.DropDownListFor(m => m.SelectedLMSGroupId, Model.LMSGroups)
                @Html.ValidationMessageFor(m => m.SelectedLMSGroupId)
            </td>
        </tr>
        <tr>
            <td>User Name: </td>
            <td>
                @Html.TextBoxFor(m => m.User.Username)
                @Html.ValidationMessageFor(m => m.User.Username)
            </td>
        </tr>
        <tr>
            <td>User Password: </td>
            <td>
                @Html.TextBoxFor(m => m.User.Password)
                @Html.ValidationMessageFor(m => m.User.Username)
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Register" /><input type="button" value="Clear" onclick="ClearForm()" /></td>
        </tr>
    </table>
}


